
<html ng-app="yapp">

<body>
    @*<div>
        <toaster-container toaster-options="{'time-out': 2500}"></toaster-container>

    </div>*@

    <div class="ui-base">
        <div ui-view />
    </div>
   </body>


        </html>


